@charset "UTF-8";
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend, form {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

body {
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

/*----------------------顶部-------------------------*/
#top {
  height: 40px;
  width: 100%;
  background: url(../img/1451455083012.png); }

/*----------------------头部-------------------------*/
#header {
  width: 1200px;
  margin: 0 auto;
  height: 32px;
  font-size: 12px; }
  #header .header_left {
    float: left;
    line-height: 32px; }
    #header .header_left span {
      margin: 0 10px; }
  #header .header_right {
    float: right;
    line-height: 32px;
    margin-right: 48px; }
    #header .header_right li {
      float: left; }
      #header .header_right li a:hover {
        color: red;
        text-decoration: underline; }
    #header .header_right .enter, #header .header_right .register {
      margin: 0 7px;
      margin-right: 1px solid #999; }
    #header .header_right .tow_menu {
      box-sizing: border-box;
      margin-left: 12px;
      position: relative;
      border: solid 1px #fff;
      border-bottom: 0; }
      #header .header_right .tow_menu span {
        margin: 0px 4px; }
      #header .header_right .tow_menu .h_menu {
        position: absolute;
        top: 31px;
        right: -1px;
        width: 81px;
        height: 100px;
        background: #fff;
        border: solid 1px #999;
        border-top: 0;
        display: none; }
        #header .header_right .tow_menu .h_menu li {
          width: 100%;
          padding-left: 14px;
          line-height: 24px; }
    #header .header_right .shopping {
      margin-right: 10px; }
      #header .header_right .shopping span {
        margin: 0px 4px; }
    #header .header_right .header_same {
      margin: 0px 8px; }

/*----------------------搜索-------------------------*/
#search_wrap {
  border-top: 1px solid #eee; }

#search {
  width: 1200px;
  margin: 0 auto;
  height: 98px; }
  #search #logo {
    float: left; }
  #search .search_center {
    float: left; }
    #search .search_center form {
      width: 374px;
      height: 38px;
      margin-top: 32px; }
      #search .search_center form .s_sec {
        width: 334px;
        height: 38px;
        border: 2px solid red;
        float: left; }
      #search .search_center form .s_btn {
        width: 40px;
        height: 38px;
        border: 2px solid red;
        background: red;
        float: right; }
  #search .search_right {
    float: right;
    margin-top: 8px; }

/*----------------------nav-------------------------*/
#nav_wrap {
  background: red; }

#nav {
  width: 1200px;
  margin: 0 auto;
  height: 40px;
  background: red;
  color: #fff; }
  #nav ul .nav_fixedmenu {
    line-height: 40px;
    width: 168px;
    background: #f42630;
    text-align: center;
    margin-right: 18px;
    border-right: solid 1px #999;
    border-left: solid 1px #999; }
  #nav ul li {
    float: left; }
    #nav ul li a {
      color: #fff;
      display: block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      padding: 0 16px; }
      #nav ul li a:hover {
        background: #f42630; }

/*----------------------lists-------------------------*/
#lists_wrap {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  margin-top: 20px; }

#lists {
  width: 1200px;
  margin: 0 auto;
  height: 200px;
  padding-top: 22px; }
  #lists .list_1 {
    width: 740px;
    margin-left: 130px;
    float: left; }
    #lists .list_1 ul {
      float: left;
      width: 20%; }
      #lists .list_1 ul a {
        font-size: 12px; }
        #lists .list_1 ul a:hover {
          color: red;
          text-decoration: underline; }
      #lists .list_1 ul .list_title {
        height: 35px; }
        #lists .list_1 ul .list_title img {
          float: left;
          margin-right: 7px; }
        #lists .list_1 ul .list_title a {
          float: left;
          line-height: 35px;
          font-size: 16px; }
      #lists .list_1 ul .list {
        text-indent: 40px; }
  #lists .twm {
    width: 125px;
    float: left;
    margin-left: 80px; }
    #lists .twm img {
      width: 125px;
      height: 125px; }
    #lists .twm dd {
      font-size: 12px;
      color: #6c6c6c;
      line-height: 40px;
      text-align: center; }

/*----------------------links-------------------------*/
#links {
  width: 1200px;
  margin: 0 auto;
  height: 162px;
  text-align: center; }
  #links .aboutus {
    padding: 42px 0; }
    #links .aboutus a {
      font-size: 12px;
      color: #6c6c6c; }
      #links .aboutus a:hover .us {
        color: red;
        text-decoration: underline; }
      #links .aboutus a span {
        padding: 6px; }
  #links .friendslinks {
    font-size: 12px;
    color: #6c6c6c;
    line-height: 30px; }
    #links .friendslinks a {
      font-size: 12px;
      color: #6c6c6c; }
      #links .friendslinks a:hover .us {
        color: red;
        text-decoration: underline; }
    #links .friendslinks .us {
      padding: 0 16px; }

/*----------------------footer-------------------------*/
#footer {
  width: 1200px;
  margin: 0 auto;
  padding-left: 108px;
  font-size: 12px;
  color: #6c6c6c; }
  #footer p {
    line-height: 26px; }

/*----------------------bottom-------------------------*/
#bottom {
  height: 108px;
  text-align: center;
  margin-top: 20px; }
  #bottom a {
    display: inline-block;
    width: 123px;
    height: 40px;
    margin-right: 25px; }

#logon {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 560px;
  margin-top: 20px;
  padding: 0 50px; }
  #logon .local {
    font-size: 12px;
    color: #6c6c6c;
    text-indent: 40px;
    line-height: 28px; }
    #logon .local a:hover {
      color: red;
      text-decoration: underline; }
  #logon .go_logon {
    width: 100%;
    height: 510px;
    border: solid 1px #dfc9b2; }
    #logon .go_logon .logon_left {
      position: relative;
      width: 578px;
      float: left; }
      #logon .go_logon .logon_left img {
        position: absolute;
        left: 94px;
        top: 112px; }
    #logon .go_logon .logon_right {
      float: right;
      width: 462px;
      height: 100%;
      margin-right: 62px; }
      #logon .go_logon .logon_right h4 {
        font-size: 14px;
        font-weight: 900;
        height: 38px;
        line-height: 38px;
        margin-top: 20px;
        border-bottom: #dfc9b2 solid 1px; }
      #logon .go_logon .logon_right .logon_way {
        height: 50px;
        padding: 20px 0px 20px 62px; }
        #logon .go_logon .logon_right .logon_way img {
          float: left;
          width: 50px;
          height: 50px;
          margin-right: 80px; }
      #logon .go_logon .logon_right form {
        height: 360px;
        overflow: hidden; }
        #logon .go_logon .logon_right form ul {
          height: 30px;
          margin-top: 18px;
          margin-bottom: 10px;
          border-bottom: #dfc9b2 solid 1px; }
          #logon .go_logon .logon_right form ul li {
            font-size: 14px;
            font-weight: 900; }
        #logon .go_logon .logon_right form .number_way .logon_p {
          height: 48px;
          margin-bottom: 10px; }
          #logon .go_logon .logon_right form .number_way .logon_p span {
            display: inline-block;
            width: 110px;
            height: 24px;
            text-align: right; }
          #logon .go_logon .logon_right form .number_way .logon_p .phone {
            width: 190px;
            height: 24px; }
          #logon .go_logon .logon_right form .number_way .logon_p i {
            display: block;
            line-height: 26px;
            font-size: 12px;
            text-indent: 120px;
            font-style: normal; }
        #logon .go_logon .logon_right form .number_way .logon_p1 {
          height: 48px;
          margin-bottom: 10px; }
          #logon .go_logon .logon_right form .number_way .logon_p1 span {
            display: inline-block;
            width: 110px;
            height: 24px;
            text-align: right; }
          #logon .go_logon .logon_right form .number_way .logon_p1 .phone {
            width: 190px;
            height: 24px; }
          #logon .go_logon .logon_right form .number_way .logon_p1 i {
            display: block;
            line-height: 26px;
            font-size: 12px;
            text-indent: 120px;
            font-style: normal; }
          #logon .go_logon .logon_right form .number_way .logon_p1 a {
            margin-left: 10px;
            color: blue;
            font-size: 14px; }
            #logon .go_logon .logon_right form .number_way .logon_p1 a:hover {
              color: red;
              text-decoration: underline; }
        #logon .go_logon .logon_right form .number_way .logon_p2 {
          height: 48px; }
          #logon .go_logon .logon_right form .number_way .logon_p2 span {
            float: left;
            width: 110px;
            height: 24px;
            text-align: right; }
          #logon .go_logon .logon_right form .number_way .logon_p2 .verify {
            float: left;
            width: 50px;
            height: 24px; }
          #logon .go_logon .logon_right form .number_way .logon_p2 i {
            float: left;
            display: inline-block;
            width: 100px;
            height: 30px;
            background: red;
            margin-left: 20px;
            text-align: center;
            line-height: 30px;
            font-size: 24px;
            letter-spacing: 10px; }
          #logon .go_logon .logon_right form .number_way .logon_p2 b {
            font-size: 14px;
            margin-left: 8px;
            font-weight: 100; }
            #logon .go_logon .logon_right form .number_way .logon_p2 b a {
              font-size: 14px;
              color: red; }
              #logon .go_logon .logon_right form .number_way .logon_p2 b a:hover {
                text-decoration: underline; }
          #logon .go_logon .logon_right form .number_way .logon_p2 em {
            margin-top: 12px;
            display: block;
            line-height: 20px;
            font-size: 12px;
            text-indent: 110px;
            font-style: normal;
            color: #999; }
        #logon .go_logon .logon_right form .number_way .logon_p3 {
          height: 58px; }
          #logon .go_logon .logon_right form .number_way .logon_p3 span {
            float: left;
            width: 110px;
            height: 24px;
            text-align: right; }
          #logon .go_logon .logon_right form .number_way .logon_p3 .random_pwd {
            float: left;
            width: 70px;
            height: 24px; }
          #logon .go_logon .logon_right form .number_way .logon_p3 i {
            float: left;
            font-style: normal;
            display: inline-block;
            width: 100px;
            height: 30px;
            margin-left: 20px;
            line-height: 30px;
            font-size: 12px;
            text-align: center;
            border: solid 1px #999;
            cursor: pointer; }
        #logon .go_logon .logon_right form .number_way #sub {
          width: 110px;
          height: 40px;
          background: red;
          border-radius: 10px;
          text-align: center;
          line-height: 30px;
          font-size: 20px;
          color: #fff;
          font-weight: 900;
          margin-left: 156px;
          margin-top: 16px; }
        #logon .go_logon .logon_right form b {
          font-size: 14px;
          margin-left: 8px;
          font-weight: 100; }
          #logon .go_logon .logon_right form b a {
            font-size: 14px;
            color: red; }
            #logon .go_logon .logon_right form b a:hover {
              text-decoration: underline; }

/*# sourceMappingURL=login.css.map */
