@charset "utf-8";
@import "public.scss";
@mixin public_p{
	height: 48px;
	margin-bottom: 10px;
	span{
		display: inline-block;
		width: 110px;
		height: 24px;
		text-align: right;
	}
	.phone{
		width: 190px;
		height: 24px;
	}
	i{
		display: block;
		line-height: 26px;
		font-size: 12px;
		text-indent: 120px;
		font-style: normal;
	}
}

@mixin public_p2{
	height: 48px;
	span{
		float: left;
		width: 110px;
		height: 24px;
		text-align: right;
	}
	.verify{
		float: left;
		width: 50px;
		height: 24px;
	}
	i{
		float: left;
		display: inline-block;
		width: 100px;
		height: 30px;
		background: red;
		margin-left: 20px;
		text-align: center;
		line-height: 30px;
		font-size: 24px;
		letter-spacing: 10px;
	}
}
#logon{
	@include public;
	box-sizing: border-box;
	height: 560px;
	margin-top: 20px;
	padding: 0 50px;
	.local{
		font-size:12px;
		color: #6c6c6c;
		text-indent: 40px;
		line-height: 28px;
		a{
			&:hover{
				color: red;
				text-decoration: underline;
			}
		}
	}
	.go_logon{
		width: 100%;
		height: 510px;
		border: solid 1px #dfc9b2;
		.logon_left{
			position: relative;
			width:578px;
			float : left;
			img{
				position: absolute;
				left: 94px;
				top : 112px;
			}
		}
		.logon_right{
			float: right;
			width: 462px;
			height: 100%;
			margin-right: 62px;
			h4{
				font-size: 14px;
				font-weight: 900;
				height: 38px;
				line-height: 38px;
				margin-top: 20px;
				border-bottom: #dfc9b2 solid 1px;
			}
			.logon_way{
				height: 50px;
				padding: 20px 0px 20px 62px;
				img{
					float: left;
					width: 50px;
					height: 50px;
					margin-right: 80px;
				}
			}
			form{
				height: 360px;
				overflow: hidden;
				ul{
					height: 30px;
					margin-top: 18px;
					margin-bottom: 10px;
					border-bottom:#dfc9b2 solid 1px;
					li{
						font-size: 14px;
						font-weight: 900;
					}
				}
				.number_way{
					.logon_p{
						@include public_p;
					}
					.logon_p1{
						@include public_p;
						a{
							margin-left: 10px;
							color: blue;
							font-size: 14px;
							&:hover{
								color: red;
								text-decoration: underline;
							}
						}
					}
					.logon_p2{
						@include public_p2;
						b{
							font-size: 14px;
							margin-left: 8px;
							font-weight: 100;
							a{
								font-size: 14px;
								color: red;
								&:hover{
									text-decoration: underline;
								}
							}
						}
						em{
							margin-top: 12px;
							display: block;
							line-height: 20px;
							font-size: 12px;
							text-indent: 110px;
							font-style: normal;
							color: #999;
						}
					}
					.logon_p3{
						height: 58px;
						span{
							float: left;
							width: 110px;
							height: 24px;
							text-align: right;
						}
						.random_pwd{
							float: left;
							width: 70px;
							height: 24px;
						}
						i{
							float: left;
							font-style: normal;
							display: inline-block;
							width: 100px;
							height: 30px;
							margin-left: 20px;
							line-height: 30px;
							font-size: 12px;
							text-align: center;
							border: solid 1px #999;
							cursor:pointer
						}
					}
					#sub{
						width: 110px;
						height: 40px;
						background: red;
						border-radius: 10px;
						text-align: center;
						line-height: 30px;
						font-size: 20px;
						color: #fff;
						font-weight: 900;
						margin-left: 156px;
						margin-top: 16px;
					}
				}
				b{
					font-size: 14px;
					margin-left: 8px;
					font-weight: 100;
					a{
						font-size: 14px;
						color: red;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	
}