@charset "UTF-8";
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend, form {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

body {
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

/*----------------------顶部-------------------------*/
#top {
  height: 40px;
  width: 100%;
  background: url(../img/1451455083012.png); }

/*----------------------头部-------------------------*/
#header {
  width: 1200px;
  margin: 0 auto;
  height: 32px;
  font-size: 12px; }
  #header .header_left {
    float: left;
    line-height: 32px; }
    #header .header_left span {
      margin: 0 10px; }
  #header .header_right {
    float: right;
    line-height: 32px;
    margin-right: 48px; }
    #header .header_right li {
      float: left; }
      #header .header_right li a:hover {
        color: red;
        text-decoration: underline; }
    #header .header_right .enter, #header .header_right .register {
      margin: 0 7px;
      margin-right: 1px solid #999; }
    #header .header_right .tow_menu {
      box-sizing: border-box;
      margin-left: 12px;
      position: relative;
      border: solid 1px #fff;
      border-bottom: 0; }
      #header .header_right .tow_menu span {
        margin: 0px 4px; }
      #header .header_right .tow_menu .h_menu {
        position: absolute;
        top: 31px;
        right: -1px;
        width: 81px;
        height: 100px;
        background: #fff;
        border: solid 1px #999;
        border-top: 0;
        display: none; }
        #header .header_right .tow_menu .h_menu li {
          width: 100%;
          padding-left: 14px;
          line-height: 24px; }
    #header .header_right .shopping {
      margin-right: 10px; }
      #header .header_right .shopping span {
        margin: 0px 4px; }
    #header .header_right .header_same {
      margin: 0px 8px; }

/*----------------------搜索-------------------------*/
#search_wrap {
  border-top: 1px solid #eee; }

#search {
  width: 1200px;
  margin: 0 auto;
  height: 98px; }
  #search #logo {
    float: left; }
  #search .search_center {
    float: left; }
    #search .search_center form {
      width: 374px;
      height: 38px;
      margin-top: 32px; }
      #search .search_center form .s_sec {
        width: 334px;
        height: 38px;
        border: 2px solid red;
        float: left; }
      #search .search_center form .s_btn {
        width: 40px;
        height: 38px;
        border: 2px solid red;
        background: red;
        float: right; }
  #search .search_right {
    float: right;
    margin-top: 8px; }

/*----------------------nav-------------------------*/
#nav_wrap {
  background: red; }

#nav {
  width: 1200px;
  margin: 0 auto;
  height: 40px;
  background: red;
  color: #fff; }
  #nav ul .nav_fixedmenu {
    line-height: 40px;
    width: 168px;
    background: #f42630;
    text-align: center;
    margin-right: 18px;
    border-right: solid 1px #999;
    border-left: solid 1px #999; }
  #nav ul li {
    float: left; }
    #nav ul li a {
      color: #fff;
      display: block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      padding: 0 16px; }
      #nav ul li a:hover {
        background: #f42630; }

/*----------------------lists-------------------------*/
#lists_wrap {
  border-top: solid 1px #6c6c6c;
  border-bottom: solid 1px #6c6c6c;
  margin-top: 20px; }

#lists {
  width: 1200px;
  margin: 0 auto;
  height: 200px;
  padding-top: 22px; }
  #lists .list_1 {
    width: 740px;
    margin-left: 130px;
    float: left; }
    #lists .list_1 ul {
      float: left;
      width: 20%; }
      #lists .list_1 ul a {
        font-size: 12px; }
        #lists .list_1 ul a:hover {
          color: red;
          text-decoration: underline; }
      #lists .list_1 ul .list_title {
        height: 35px; }
        #lists .list_1 ul .list_title img {
          float: left;
          margin-right: 7px; }
        #lists .list_1 ul .list_title a {
          float: left;
          line-height: 35px;
          font-size: 16px; }
      #lists .list_1 ul .list {
        text-indent: 40px; }
  #lists .twm {
    width: 125px;
    float: left;
    margin-left: 80px; }
    #lists .twm img {
      width: 125px;
      height: 125px; }
    #lists .twm dd {
      font-size: 12px;
      color: #6c6c6c;
      line-height: 40px;
      text-align: center; }

/*----------------------links-------------------------*/
#links {
  width: 1200px;
  margin: 0 auto;
  height: 162px;
  text-align: center; }
  #links .aboutus {
    padding: 42px 0; }
    #links .aboutus a {
      font-size: 12px;
      color: #6c6c6c; }
      #links .aboutus a:hover .us {
        color: red;
        text-decoration: underline; }
      #links .aboutus a span {
        padding: 6px; }
  #links .friendslinks {
    font-size: 12px;
    color: #6c6c6c;
    line-height: 30px; }
    #links .friendslinks a {
      font-size: 12px;
      color: #6c6c6c; }
      #links .friendslinks a:hover .us {
        color: red;
        text-decoration: underline; }
    #links .friendslinks .us {
      padding: 0 16px; }

/*----------------------footer-------------------------*/
#footer {
  width: 1200px;
  margin: 0 auto;
  padding-left: 108px;
  font-size: 12px;
  color: #6c6c6c; }
  #footer p {
    line-height: 26px; }

/*----------------------bottom-------------------------*/
#bottom {
  height: 108px;
  text-align: center;
  margin-top: 20px; }
  #bottom a {
    display: inline-block;
    width: 123px;
    height: 40px;
    margin-right: 25px; }

/*# sourceMappingURL=public.css.map */
